{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="description" content="Языковые курсы в сокулуке Английский Кыргызский корейский математика пианино подготовка к школе подготовка к орт рисование курсы программирования"/>
<meta name="keywords" content="Английский, курсы английского, курсы программирования в сокулуке, курсы программирования, программирование в сокулуке, курсы программирования не дорого, эрудит лимарин, эрудит лимарин сокулук, erudit leemarin, erudit leemarin сокулук, erudit leemarin курсы программирования, английский в сокулуке, иностранный язык в сокулуке, курсы английского в сокулуке" />
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    teyueirjewitirh
    {% block content %}

    {% endblock content %}
</body>
</html>